body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: grey;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card {
    background:rgba(0, 0, 0, 0.65);
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: .27em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-weight: 500;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 3em);
}

::placeholder {
    color: whitesmoke;
    opacity: .6;
    font-weight: 100;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background: #7c7c7c2b;
    color:white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

.card {
    max-height: 100vh;
    transition: 1s ease-in-out;
}

.card.loading{
    max-height: 60px;
}

.weather.loading {
    visibility: hidden;
}

#textbox {
    opacity: 0;
}


h1.temperature {
    margin: 0;
    margin-bottom: 5px;
}

.description {
    text-transform: capitalize;
    margin-left: 5px;
}

.flex {
    display: flex;
    align-items: center;
}

.low {
    margin-left: 10px;
}

.spaced {
    margin: 5px 0px 5px 0px;
}